<!-- <p>tpl-autocomplete works!</p> 
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)"

-->
<input
  #autoInput
  matInput
  type="text"
  placeholder="text is here"
  [matAutocomplete]="auto"
  [formControl]="myControl"
/>

<mat-autocomplete
  autoActiveFirstOption
  #auto="matAutocomplete"
  [displayWith]="displayFn.bind(this)"
  (optionSelected)="onSelection($event)"
>
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
    {{ option.name }} | {{ option.title }} ||
    <span xx-small>{{ option.id }}</span>
  </mat-option>
</mat-autocomplete>
